* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #F2EAE2;
}

.container {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  margin-top: 28px;
  background-color: white;
  border-radius: 10px;
  width: 343px;
  height: 611px;
}

.img {
  border-radius: 10px 10px 0 0;
}

.parfum{
  margin: 0;
  color: #6C7289;
  text-align: left;
  font-size: 12px;
  font-weight: 500;
  padding-left: 24px;
  padding-top: 24px;
  padding-top: 24px;
  margin-bottom: 12px;
}


.title{
  margin: 0;
  font-family: "Fraunces", serif;
  font-size: 32px;
  font-weight: 700;
  color: #1C232B;
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 16px;
  line-height: 32px;
}

.text{
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  color: #6C7289;
  line-height: 23px;   
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 24px;
  text-align: left;
  line-height: 23px;
}

.price{
  width: 194px;
  height: 32px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 24px;
  margin-bottom: 20px;
}

.offert{
  margin: 0;
  font-weight: 700;
  font-size: 32px;
  color: #3D8168;
  line-height: 32px;
}

.discount{
  margin: 0;
  font-weight: 500;
  line-height: 23px;
  text-decoration: line-through;
  color: #6C7289;
  padding-left: 19px;
  
}

.box-green{
  position: relative;
  width: 295px;
  height: 48px;
  background-color: #3D8168 ;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  margin-left: 25px;
}

.cart{
  padding-left: 11px;
  font-weight: 700;
  color: #fff;
  font-size: 14px;
  padding-left: 11px;
}


@media screen and (width>768px) {
  
.container{
  display: flex;
  flex-direction: row;
  width: 600px;
  height: 450px;
  margin-top: 175px;

}

.img{
  width: 300px;
  height: 450px;
  border-radius: 10px 0 0 10px;
}

.parfum{
  padding-top: 32px;
  margin: 0;
  margin-bottom: 20px;
}

.title{
  margin: 0;
  margin-bottom: 24px;
}

.text{
  margin: 0;
  margin-bottom: 29px;
}

.price{
  margin: 0;
  margin-bottom: 30px;
}


.container-2{
  display: flex;
  flex-direction: column;
  width: 300px;
}

.box-green{
  width: 236px;
  height: 48px;
}

}

@media (hover:hover){
  .box-green:hover{
    background-color: #1A4032;
    opacity: 1;
  }
}